<!DOCTYPE html>
<html class="text-xs">
<%- include('header') %>
<body class="hold-transition sidebar-mini layout-fixed">
<div class="wrapper">
  <%- include('topMenu') %>
  <%- include('sideMenu') %>
  <div class="content-wrapper">
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>배달 대행 현황</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="/branch/main/realTimeDelivery">Home</a></li>
              <li class="breadcrumb-item">배달 대행</li>
              <li class="breadcrumb-item">배달 대행 현황</li>
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>
    <!-- Main content -->
    <section class="content">
      <!-- 배달 현황 -->
      <div class="container-fluid">
        <div class="row">
          <div class="col-lg-3 col-6">
            <div class="small-box bg-secondary">
              <div class="inner">
                <p>배차 대기</p>
                <h3>150</h3>
              </div>
              <div class="icon">
                <i class="fas fa-phone"></i>
              </div>
              <a href="#" class="small-box-footer">
                &nbsp;
              </a>
            </div>
          </div>
          <div class="col-lg-3 col-6">
            <div class="small-box bg-warning">
              <div class="inner">
                <p>배차 완료</p>
                <h3>100</h3>
              </div>
              <div class="icon">
                <i class="fas fa-motorcycle"></i>
              </div>
              <a href="#" class="small-box-footer">
                &nbsp;
              </a>
            </div>
          </div>
          <div class="col-lg-3 col-6">
            <div class="small-box bg-olive">
              <div class="inner">
                <p>픽업 완료</p>
                <h3>100</h3>
              </div>
              <div class="icon">
                <i class="fas fa-shopping-bag"></i>
              </div>
              <a href="#" class="small-box-footer">
                &nbsp;
              </a>
            </div>
          </div>
          <div class="col-lg-3 col-6">
            <div class="small-box bg-success">
              <div class="inner">
                <p>배달 완료</p>
                <h3>100</h3>
              </div>
              <div class="icon">
                <i class="fas fa-home"></i>
              </div>
              <a href="#" class="small-box-footer">
                &nbsp;
              </a>
            </div>
          </div>
        </div>
        <div class="row d-none d-lg-block">
          <div class="col-12">
            <div class="card">
              <div class="card-body">
                <table id="tb_realTimeDelivery" class="table table-bordered table-hover">
                  <thead>
                  <tr>
                    <th>배차 상태</th>
                    <th>배달 번호</th>
                    <th>상점 지점 ID</th>
                    <th>상점ID</th>
                    <th>상점</th>
                    <th>상점 연락처</th>
                    <th>고객 연락처</th>
                    <th>고객 지번 주소</th>
                    <th>배달 주소</th>
                    <th>고객 상세 주소</th>
                    <th>위도</th>
                    <th>경도</th>
                    <th>결제</th>
                    <th>음식요금</th>
                    <th>배달요금</th>
                    <th>시간(분)</th>
                    <th>접수 시간</th>
                    <th>배차 일시</th>
                    <th>픽업 일시</th>
                    <th>완료 일시</th>
                    <th>거리(km)</th>
                    <th>요청 사항</th>
                    <th>라이더 지점 ID</th>
                    <th>라이더ID</th>
                    <th>라이더</th>
                    <th>라이더 연락처</th>
                    <th>배달 상세</th>
                    <th>배차</th>
                    <th>취소</th>
                  </tr>
                  </thead>
                </table>
              </div>
            </div>
          </div>
        </div>
        <div class="row d-block d-lg-none">
          <div class="col-12">
            <div class="card">
              <div class="card-header border-0">
                <h3 class="card-title">배달대행 현황</h3>
              </div>
              <div class="card-body">
                <table id="dataTable1" class="table table-bordered table-hover">
                  <thead>
                  <tr>
                    <th>배달 대행 목록</th>
                  </tr>
                  </thead>

                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
  <!-- Modal -->
  <%- include('modal/realTimeDeliveryDetail') %>
  <%- include('modal/realTimeDeliveryDispatch') %>
  <footer class="main-footer">
    <strong>Copyright &copy; 2020 Bikeda.</strong>All rights reserved.
  </footer>
</div>
<!-- ./wrapper -->
<%- include('footer') %>
<script src="/js/branch/realTimeDelivery.js"></script>
</body>
</html>
